/*------------------------------------*\
    $DEBUG
\*------------------------------------*/
/**
 * Debug mode will visually highlight any potential markup/accessibility quirks
 * in the browser. Set to `true` or `false`.
 */
// $debug-mode:        true;


/*------------------------------------*\
    $OBJECTS AND ABSTRACTIONS
\*------------------------------------*/
/**
 * Which objects and abstractions would you like to use?
 */
$use-grids:         true;
$use-flexbox:       true;
$use-columns:       false;
$use-nav:           true;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         true;
$use-marginalia:    false;
$use-island:        false;
$use-block-list:    false;
$use-matrix:        false;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      true;
$use-lozenges:      false;
$use-rules:         false;
$use-stats:         false;
$use-greybox:       false;


/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */
$pull: 		true;
$push: 		true;

$lap-and-up-push: 	true;


/*------------------------------------*\
    $BASE
\*------------------------------------*/
/**
 * Base stuff
 */
$base-value: 16;
/*------------------------------------*\
    $COLOURS
\*------------------------------------*/
/**
 * Define colours using the commented variables, don't forget to comment the colour name next to each variable.
 */
$alpha: #000; 			// Black
$bravo: #fff; 			// White
$charlie: #1975D1; 		// Blue
$delta: #8693A1; 		// Grey
//$echo:
//$foxtrot:
//$golf:
//$hotel:
//$india:
//$juliet:
//$kilo:
//$lima:
//$mike:
//$november:
//$oscar:
//$papa:
//$quebec:
//$romeo:
//$sierra:
//$tango:
//$uniform:
//$victor:
//$whiskey:
//$xray:
//$yankee:
//$zulu: